<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>
<form method="post" th:action="@{/register}">
    <div>
        <label>Имя:</label>
        <input type="text" name="username">
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password">
    </div>
    <div>
        <label>Email:</label>
        <input type="email" name="email">
    </div>
    <button type="submit">Зарегестрироваться</button>
</form>
</body>
</html>