<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Редактировать автора</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{header}"></div>
<h1>Редактировать автора</h1>
<form action="#" th:action="@{/authors/edit/{id}(id=${author.id})}" th:object="${author}" method="post">
  <label>Имя:</label>
  <input type="text" th:field="*{name}" required/>
  <br/>
  <label>Фамилия:</label>
  <input type="text" th:field="*{surname}" required/>
  <br/>
  <label>Отчество:</label>
  <input type="text" th:field="*{lastname}" />
  <br/>
  <button type="submit">Сохранить изменения</button>
</form>
<br/>
<a href="/authors">Назад к списку</a>
</body>
</html>
